#!/usr/bin/expect -f
set timeout 3

        spawn /opt/hxe/installer/setup_hxe.sh

        expect  "^express edition installer root directory*"
        send    "/opt/HANA_EXPRESS_20\r"

        expect  "^Enter SAP HANA system ID*"
        send    "HXE\r"

        expect  "^Enter instance number*"
        send    "90\r"

        # expect  "^Component*"
        # send    "server\r"

        expect  "^Enter local host name*"
        send    "sles15-ha01\r"

        expect  "^Enter HDB master password:*"
        send    "Changeme12\r"

        expect  "^Confirm \"HDB master\" password:*"
        send    "Changeme12\r"

        expect  "^Install SAP HANA smart data integration?*"
        send    "Y\r"

        expect  "^Enter name of tenant database to add smart data integration*"
        send    "HXE\r"

        expect  "^Install SAP HANA External Machine Learning Library?*"
        send    "N\r"

        expect  "^Install SAP HANA Automated Predictive Library?*"
        send    "N\r"

        expect  "^Proceed with installation?*"
        send    "Y\r"

        interact

exit
